.Description{
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    width: 620px;
}


.decktable{
    background-color:#ffffff;
    display: inline-block;
}

td {
    border: 1px #f0f8ff solid;
    text-align: center;
}

td textarea {
    vertical-align: middle;
}

h3 {
    padding: 0.4em 0.5em;
    color: #494949;
    background: #ffffff;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
    display: flex;
    width: 620px;
}
